.card{
    background-color: #111d4a;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}


.card-title,.card-body,.card-btn{
    font-family: "Blinker","sans-serif";
}
.card-title{
    font-size: 1.75rem;
}

.card-body{
    font-size: 1 rem;
    font-family:"Source sans Pro",sans-serif;
}

.card-btn{
    font-size: 1.25rem;
}

