.card{
    display: flex;
    flex-direction: column;
    background-color: #111d4a;
    color: #fff;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
}


.card-title,.card-read-time,.card-btn{
    font-family: "Blinker","sans-serif";
}
.card-title{
    margin: 0;
    font-size: 1.75rem;
    color: #05cbe9;
}

.card-body{

    font-size: 1 rem;
    font-family:"Source sans Pro",sans-serif;
}

.card-btn{
     background: #05cbe9;
     color: #111d4a;
     text-decoration: none;
     font-weight: 700;
    font-size: 1.25rem;
}

.card-img{
    object-fit: cover;
    height: 150px;
}

.card-content{
    line-height: 1.6;
    padding: 1em;
}
.card-footer{
    display: flex;
}
